.popup__container {
    border-radius: 4%;
    background-color: white;
    max-width: 430px;
    width: 100%;
    min-height: 330px;
    margin: auto;
    display: flex;
    position: relative;
}

@media screen and (max-width: 650px) {
    .popup__container {
        max-width: 282px;
        width: 100%;
        min-height: 322px;
    }
}