.profile__edit-button-image {
    width: 10px;
    height: 10px;
}

@media screen and (max-width: 650px) {
    .profile__edit-button-image {
        width: calc(15px / 2);
        height: calc(15px / 2);
    }
}