.header__logo {
    width: 100%;
    max-width: 142px;
    margin: 0 0 35px;
}

@media screen and (max-width: 650px) {
    .header__logo {
        max-width: 103px;
        margin-bottom: 26px;
    }
}