.profile__additional-information {
    color: white;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    grid-area: additional-information;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 650px) {
    .profile__additional-information {
        font-size: 14px;
        align-self: start;
        justify-self: center;
        text-align: center;
    }
}