.profile-info__edit-button {
    border: 1px solid white;
    width: 24px;
    height: 24px;
    align-self: end;
    padding: 0;
    background-color: black;
    margin: 0 0 8px;
    grid-area: edit-button;
    transition: opacity .5s;
}

.profile-info__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 900px) {
    .profile-info__edit-button {
        margin: 0 60px 60px 0;
    }
}

@media screen and (max-width: 600px) {
    .profile-info__edit-button {
        margin: 0 12px 12px 0;
        justify-self: end;
    }
}