.popup-add__button {
    width: 358px;
    height: 50px;
    color: white;
    background-color: black;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 0;
    border: none;
    margin: 18px auto 0;
    transition: opacity .6s;
}

.popup-add__button:hover {
    opacity: .8;
}

@media screen and (max-width: 650px) {
    .popup-add__button {
        width: 238px;
        height: 46px;
        font-size: 14px;
    }
}