.place {
    list-style: none;
    background-position: top left;
    background-repeat: no-repeat;
    width: 282px;
    height: 361px;
    background-color: white;
    border-radius: 5%;
    display: grid;
    grid-template-columns: 1fr 70px;
    grid-template-rows: 1fr 79px;
    grid-template-areas: "image image"
                         "text like";
    overflow: hidden;
    border: none;
}