.profile__nickname {
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-weight: 500;
    line-height: 48px;
    font-size: 42px;
    grid-area: nickname;
    color: white;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 650px) {
    .profile__nickname {
        font-size: 27px;
        align-self: start;
        justify-self: end;
    }
}